.mainLoginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  min-height: 100vh;
  letter-spacing: -1px;

  // .loginBoxMainPhoto {
  //   width: 1800px;
  //   height: 100%;
  //   content: '';
  //   background: url(../../img/main.jpg) no-repeat;
  //   background-position: 50%;
  //   background-size: cover;
  // }

  .loginBox {
    width: 480px;
    max-width: 1000px;
    // height: 100%;
    background-color: #fff;
    color: #242424;
    padding: 80px 40px;
    font-size: 14px;
    // background-color: beige;

    .isVaildAlertDiffId {
      margin-top: 2px;
      font-size: 12px;
      font-weight: bold;
      color: red;
      display: none;
      margin: 3px 0 0 13px;
    }

    .isVaildAlertDiffPw {
      margin-top: 2px;
      font-size: 12px;
      font-weight: bold;
      color: red;
      display: none;
      margin: 6px 0 0 13px;
    }

    .isVaildAlertDiffPwVaild {
      margin-top: 2px;
      font-size: 12px;
      font-weight: bold;
      color: red;
      display: none;
      margin: 6px 0 0 13px;
    }

    .title {
      color: #242424;
      font-size: 24px;
      margin-bottom: 12px;
      font-weight: bold;
      display: block;
    }

    .subTitle {
      color: #6f6f6f;
      font-size: 16px;
      margin-bottom: 24px;
      display: block;
    }

    .labelNameBox {
      display: block;
      border: 1px solid #dfdfdf;
      height: 56px;
      padding: 2px 12px;
      border-radius: 4px;
      background-color: inherit;

      .inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .input {
        flex: 1;
      }

      .inputNameSpan {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
        color: #8b8b8b;
      }

      .inputName {
        width: 100%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
        border: none;
        outline: none;
      }
    }

    .certificationBox {
      display: none;
      border: 1px solid #dfdfdf;
      height: 56px;
      padding: 2px 12px;
      border-radius: 4px;
      background-color: inherit;
      margin-top: 6px;
      .inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .input {
        flex: 1;
      }

      .certificationNum {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
        color: #8b8b8b;
      }

      .inputDateFront {
        width: 47%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
        border: none;
        outline: none;
      }

      .certificationBtn {
        width: 30px;
        height: 20px;
        border: 3px solid #ffeb60;
        background-color: #ffeb60;
        text-align: center;
        border-radius: 5px;
        padding: 2px;
        margin-left: 150px;
      }
    }

    .changePasswordBox {
      display: none;
      border: 1px solid #dfdfdf;
      height: 56px;
      padding: 2px 12px;
      border-radius: 4px;
      background-color: inherit;
      margin-top: 6px;

      .inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .input {
        flex: 1;
      }
      .changePasswordSpan {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
        color: #8b8b8b;
      }

      .changePasswordFront {
        width: 100%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
        border: none;
        outline: none;
      }
    }

    .changePasswordCheckBox {
      display: none;
      border: 1px solid #dfdfdf;
      height: 56px;
      padding: 2px 12px;
      border-radius: 4px;
      background-color: inherit;
      margin-top: 6px;

      .inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .input {
        flex: 1;
      }
      .changePasswordCheckSpan {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
        color: #8b8b8b;
      }

      .changePasswordCheckFront {
        width: 100%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
        border: none;
        outline: none;
      }
    }

    .labelDateBox {
      display: block;
      border: 1px solid #dfdfdf;
      height: 56px;
      padding: 2px 12px;
      border-radius: 4px;
      background-color: inherit;
      margin-top: 6px;

      .inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .input {
        flex: 1;
      }

      .inputDateSpan {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
        color: #8b8b8b;
      }

      .inputDateFront {
        width: 45%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
        border: none;
        outline: none;
      }

      .inputDateBack {
        width: 4%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
        border: none;
        outline: none;
        margin-left: 10px;
      }

      .minusLine {
        font-size: 16px;
        color: #242424;
        padding: 8px 0;
        margin-top: 16px;
      }

      .dot {
        font-size: 16px;
        color: #242424;
        padding: 8px 0;
        margin-top: 16px;
      }
    }

    .labelCdBox {
      display: block;
      border: 1px solid #dfdfdf;
      height: 56px;
      padding: 2px 12px;
      border-radius: 4px;
      background-color: inherit;
      margin-top: 6px;

      .inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .input {
        flex: 1;
      }

      .inputCdSpan {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
        color: #8b8b8b;
      }

      .inputCd {
        width: 100%;
        padding: 0;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #757575;
        border: none;
        outline: none;
        background-color: inherit;
      }
    }
    .labelPhoneNumBox {
      display: block;
      border: 1px solid #dfdfdf;
      height: 56px;
      padding: 2px 12px;
      border-radius: 4px;
      background-color: inherit;
      margin-top: 6px;

      .inner {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .input {
        flex: 1;
      }

      .inputPhoneNumSpan {
        display: block;
        font-size: 10px;
        margin-bottom: 4px;
        color: #8b8b8b;
      }

      .inputPhoneNum {
        width: 100%;
        height: 24px;
        font-size: 16px;
        text-align: left;
        color: #242424;
        border: none;
        outline: none;
      }
    }

    .buttonBox {
      margin-top: 16px;

      .sendButton {
        width: 100%;
        height: 56px;
        background-color: rgba(255, 235, 96, 0.4);
        color: #242424;
        border-radius: 4px;
        border: none;
        font-size: 16px;
        text-align: center;
        display: block;
      }
      .sendButton:hover {
        background-color: rgba(255, 235, 96, 1);
      }

      .changeButton {
        width: 100%;
        height: 56px;
        background-color: rgba(255, 235, 96, 0.4);

        border-radius: 4px;
        border: none;
        font-size: 16px;
        text-align: center;
        display: none;
      }
      .changeButton:hover {
        background-color: rgba(255, 235, 96, 1);
      }
      .loginButton:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }

    .loginSubMenu {
      margin-top: 24px;
      margin-bottom: 34px;
      display: flex;
      justify-content: center;

      li {
        margin-right: 2px;
        text-decoration: none;

        a {
          text-decoration: none;
        }
      }

      .verticalBox {
        height: 12px;
        width: 1px;

        background-color: #8b8b8b;
        content: '';
        margin: 2px 8px;
      }

      a {
        font-size: 16px;
        color: #8b8b8b;
      }
    }
  }
}

.mainLoginContainer::before {
  width: 1500px;
  height: 100%;
  content: '';
  background: url(../../img/login.jpg) no-repeat;
  background-position: 50%;
  background-size: cover;
}
