@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

#light {
  background-color: white !important;
  color: black !important;
}
#dark {
  background-color: black !important;
  color: white !important;
}
