.today-area {
  height: 200vh;
  margin-left: 95px;
  .carousel {
    width: 300vw;
  }
  .inner {
    width: 100vw;
    float: left;
    img {
      width: 100%;
      height: 387px;
    }
  }
  .today-area__id {
    margin: 59px 0;
    font-weight: 500;
    font-size: 25px;
  }
}
