.today-area {
  height: 400vh;
  margin: 0 95px;

  padding-top: 100px;
  position: relative;

  .carousel {
    margin: 0 -95px;
  }
  .inner {
    img {
      width: 100%;
      height: 387px;
    }
    .inner-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 70px;
      gap: 10px;
    }
    div {
      color: black;
      font-weight: 700;
      font-size: 30px;
    }

    p {
      margin-top: 10px;
      color: gray;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .today-area__id {
    margin: 59px 0;
    font-weight: 500;
    font-size: 20px;
  }

  .book {
    position: absolute;
    // z-index: 3;
    width: 250px;
    height: 270px;
    top: 270px;
    right: 350px;
  }

  .dragCard {
    margin-top: 63px;

    .dragCard-title {
      font-weight: 500;
      font-size: 20px;
    }
  }
}
