.accordionWrap {
  border-bottom: 12px solid #f7f7f7;
  padding: 24px;
  .accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    h3 {
      font-size: 14.5px;
      font-weight: 500;
      margin: 0;
    }
  }
  .textArea {
    font-weight: 300;
    font-size: 12.5px;
    line-height: 2em;
    margin-top: 20px;
  }
}
